.mypublish-container{
    display: flex;
    flex-direction: column;
    width: 1600px;
    margin: auto;
    padding: 10px 0;
    border: dotted 3px #D3D3D3;    
}

.mypublish-titre{
    margin-top: 10px;
    margin-left: 10px;
}