.publish-container{
    display: flex;
    flex-direction: column;
    width: 1600px;
    
    margin: auto;
    padding: 10px 0;
    border: dotted 3px #D3D3D3;    
}

.home-container{
    display: flex;
   
    width: 1600px;
    margin: auto;
    padding: 10px 0;
    border: dotted 3px #D3D3D3;    
}

.home-titre{
    margin-top: 10px;
    margin-left: 10px;
}

.line-container{
    margin-top: 10px;
    margin-left: 20px;
}

.line{
    margin-top: 2px;
}