/*
.signup-container{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    width: 1600px;
    height: 60px;
    margin: auto;
    padding: 10px 0;
    border: dotted 3px #D3D3D3;    
}
*/

/* LOGIN ********************** */

.signup-container {
  display: flex;
  flex-direction: column;
  width: 1600px;  
  margin: auto;
  padding: 10px 0;
  border: dotted 3px #D3D3D3;   
}

.signup-container>h2 {
  padding-left: 10px;
  padding-top: 10px;
}
  /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    border: dotted 3px #D3D3D3;    */

  .signup-form {
    display: flex;
    width: 275px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-direction: column;
  }
  .signup-form > input {
    border: none;
    border-bottom: 1px solid #fcced3;
    height: 35px;
    margin-bottom: 20px;
  }
  
  .signup-form input::placeholder {
    color: #cbcccd;
    font-size: 16px;
  }
  
  .signup-form input[type="checkbox"] {
    transform: scale(2);
    margin-right: 20px;
  }
  
  .checkbox-container {
    margin-top: 1px;
    padding-top: 1px;
  }
  .checkbox-container > div {
    display: flex;
  }
  .checkbox-container > p {
    margin-top: 10px;;
    text-align: left;
    color: #999999;
    font-size: 12px;
  }
  
  .checkbox-container span {
    margin-bottom: 8px;
    color: #666666;
  }
  
  .signup-form button {
    background-color: #2cb1ba;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .signup-container a {
    color: #2cb1ba;
    font-size: 12px;
  }
  
  .signup-login-error-message {
    color: red;
    font-size: 9px;
  }
  
  .link-login {
    margin-left: 10px;
    margin-bottom: 10px;
  }